*{
  box-sizing: border-box;
}
head{
  display: none;
}
.header-ttl{
  font-size: 24px;
  width: 80px;
}
a{
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
.header-nav-list{
  display: none;
  font-weight: bold;
}
.header-nav-item{
  margin-right: 30px;
}
.top-mv{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/common/mv.png) center/cover;
  color: white;
}
.top-mv-main-copy{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.top-mv-sub-copy{
  font-weight: 18px;
  text-align: center;
}
.warp{
  width: 85%;
}
.ptb-m{
  padding: 80px 0;
}
.top-feature{
  color: white;
  background-color: black;
}
.top-feature-txt{
  margin-top: 20px;
}